{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
    
</head>

<!-- <body>
    <main> -->
    <!-- <nav>
        <section class="header">
        <div class="menu-bar ">
            <img src="{% static 'images/Logo_ECE.png' %}" height="50px" style="margin: 6px" />
            <a href="">เข้าสู่ระบบ</a>
            <a href="">เอกสารวิชาโครงงาน</a>
        </div>   
        </section>
    </nav> -->
    <!-- <section class="body">
        <center><img src="{% static 'images/TSE-logo.png' %}" height="100px" style="margin: 6px"/></center>
        
    </section> -->
    <!-- </main>
</body> -->
{% block body %}
        {% endblock %}
</html>