{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
        <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
        {{ form.media }}
        <title>รายงานโครงงาน</title>
        </head>
{% endblock %}

{% block content %}
    {% if user.groups.all.1.name == 'coordinator' or user.groups.all.0.name == 'coordinator' or user.groups.all.0.name == 'admin'%}
    <div class="col-sm-12 center" style=" padding-bottom: 0;margin-bottom: 0;">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h4 class="card-title">กำหนดการส่งรายงาน</h4>
            </div>
            <p class="card-text">
                <form method="POST" >
                    {% csrf_token %}
                    <div class="form__group row mt-3 mx-1">
                        <label class="form__field">
                            <p>หัวข้อรายงาน :</p>  {{ form.topic }}
                        </label>
                      </div>
                      <div class="form__group row mt-3 mx-1">
                        <label class="form__field">
                          วันสิ้นสุด : {{ form.datedue }}
                        </label>
                      </div>
                      <div class="form-group row mt-3">
                        <div class="col-sm-10 mx-3">
                        <input class="btn btn-primary" type="submit" name="Submit" id="submit">
                        </div>
                      </div>
             </form>
            </p>
          </div>
        </div>
      </div>
      {% endif %}


<div class="col-sm-12 center">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <h4 class="card-title">กำหนดการ</h4>
        </div>
        <p class="card-text">
          <table class="table table-borderless">
            </thead>
            <tbody>
              
              <tr style="background-color:#B9C4D8;">
                  <th class="col">ขั้นตอนการดำเนินงาน</th>
                  <th class="col">วันสิ้นสุด</th>
                  <th class="col">อื่นๆ</th>
              </tr>
              {% for show in file %}
              <tr style="background-color:#E4E7EC;">
                  <td>
                    {{show.topic}}
                  </td>
                  <td>
                    {{show.datedue}}
                  </td>
                  <td>
                  <a href="{% url 'website:deletetopic' show.id %}" 
                    onclick="return confirm('Confirm Delete?')">ลบ</a>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </p>
      </div>
    </div>
  </div>
  
        <div class="col-sm-12 center">
            <div class="card">
              <div class="card-body">
                <div class="card-header">
                  <h4 class="card-title">รายงานโครงงานสำหรับที่ปรึกษา</h4>
                </div>
                <p class="card-text">
                  <table class="table table-borderless">
                    </thead>
                    <tbody>
                      <tr style="background-color:#B9C4D8;">
                          <th class="col">หัวข้อ</th>
                          <th class="col">อาจารย์ที่ปรึกษา</th>
                          <th class="col">รายละเอียด</th>
                          <th class="col">สถานะ</th>
                          <th class="col">นักศึกษา</th>
                          <th class="col">กรรมการ</th>
                          <th class="col">อื่นๆ</th>
                      </tr>
                      {% for show in con %}
                      
                      <tr style="background-color:#E4E7EC;">
                        {% if request.user.profmodel == show.consult %}
 
                          <td>
                            {{show.thainame}}
                          </td>
                          <td>
                            {{show.consult}}
                          </td>
                          <td>
                            {{show.detail}}
                          </td>
                        {% if show.status == 'ยังไม่มีนักศึกษาลงทะเบียน' %}
                        <td>
                            {{show.status}}
                        </td>
                        <td>
                            <p>-</p>
                        </td>
                        {% else %}
                        <td>   
                            {{show.status}}
                        </td> 
                        <td>
                            <p>{{show.student1}}</p>
                            <p>{{show.student2}}</p>
                        </td>
                        {% endif %}
                        {% if show.committee1 != none %}
                        <td>
                            <p>{{show.committee1}}</p>
                            <p>{{show.committee2}}</p>
                        </td>
                        {% else %}
                        <td>
                            <p>-</p>
                        </td>
                        {% endif %}
                        <td>   
                            <a href="{% url 'website:reportproject' show.id %}" >ดูรายงาน</a>
                        </td> 
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-12 center">
            <div class="card">
              <div class="card-body">
                <div class="card-header">
                  <h4 class="card-title">รายงานโครงงานสำหรับกรรมการ</h4>
                </div>
                <p class="card-text">
                  <table class="table table-borderless">
                    </thead>
                    <tbody>
                      
                      <tr style="background-color:#B9C4D8;">
                          <th class="col">หัวข้อ</th>
                          <th class="col">อาจารย์ที่ปรึกษา</th>
                          <th class="col">รายละเอียด</th>
                          <th class="col">สถานะ</th>
                          <th class="col">นักศึกษา</th>
                          <th class="col">กรรมการ</th>
                          <th class="col">อื่นๆ</th>
                      </tr>
                      {% for show in con %}
                      
                      <tr style="background-color:#E4E7EC;">
                        {% if request.user.profmodel == show.committee1 or request.user.profmodel == show.committee2%}
                          <td>
                            {{show.thainame}}
                          </td>
                          <td>
                            {{show.consult}}
                          </td>
                          <td>
                            {{show.detail}}
                          </td>
                        {% if show.status == 'ยังไม่มีนักศึกษาลงทะเบียน' %}
                        <td>
                            {{show.status}}
                        </td>
                        <td>
                            <p>-</p>
                        </td>
                        {% else %}
                        <td>   
                            {{show.status}}
                        </td> 
                        <td>
                            <p>{{show.student1}}</p>
                            <p>{{show.student2}}</p>
                        </td>
                        {% endif %}
                        {% if show.committee1 != none %}
                        <td>
                            <p>{{show.committee1}}</p>
                            <p>{{show.committee2}}</p>
                        </td>
                        {% else %}
                        <td>
                            <p>-</p>
                        </td>
                        {% endif %}
                        <td>   
                            <a href="{% url 'website:reportproject' show.id %}" >ดูรายงาน</a>
                        </td> 
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </p>
              </div>
            </div>
          </div>
          {% if user.groups.all.1.name == 'coordinator' or user.groups.all.0.name == 'coordinator' or user.groups.all.0.name == 'admin'%}
          <div class="col-sm-12 center">
            <div class="card">
              <div class="card-body">
                <div class="card-header">
                  <h4 class="card-title">รายงานโครงงานทั้งหมด</h4>
                </div>
                <p class="card-text">
                  <table class="table table-borderless">
                    </thead>
                    <tbody>
                      
                      <tr style="background-color:#B9C4D8;">
                        <th class="col">สาขา</th>
                          <th class="col">หัวข้อ</th>
                          <th class="col">อาจารย์ที่ปรึกษา</th>
                          <th class="col">รายละเอียด</th>
                          <th class="col">สถานะ</th>
                          <th class="col">นักศึกษา</th>
                          <th class="col">กรรมการ</th>
                          <th class="col">อื่นๆ</th>
                      </tr>
                      {% for show in show %}
                      
                      <tr style="background-color:#E4E7EC;">
                        
                        <td>
                          {{show.major}}
                        </td> 
                          <td>
                            {{show.thainame}}
                          </td>
                          <td>
                            {{show.consult}}
                          </td>
                          <td>
                            {{show.detail}}
                          </td>
                        {% if show.status == 'ยังไม่มีนักศึกษาลงทะเบียน' %}
                        <td>
                            {{show.status}}
                        </td>
                        <td>
                            <p>-</p>
                        </td>
                        {% else %}
                        <td>   
                            {{show.status}}
                        </td> 
                        <td>
                            <p>{{show.student1}}</p>
                            <p>{{show.student2}}</p>
                        </td>
                        {% endif %}
                        {% if show.committee1 != none %}
                        <td>
                            <p>{{show.committee1}}</p>
                            <p>{{show.committee2}}</p>
                        </td>
                        {% else %}
                        <td>
                            <p>-</p>
                        </td>
                        {% endif %}
                        <td>   
                            <a href="{% url 'website:reportproject' show.id %}" >ดูรายงาน</a>
                        </td> 
                        
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </p>
              </div>
            </div>
          </div>
          {% endif %}


{% endblock %}