{% if user.groups.all.0.name == 'consultant' and user.groups.all.1.name != 'coordinator'%}
        <table>
            {% for show in show %}
            
            <tr>
                <td>
                    
                    {% if request.user.profmodel == show.consult %}
                    {{show.thainame}}
                    {{show.consult}}
                    {{show.detail}}
                        {% if show.status == 'ยังไม่มีนักศึกษาลงทะเบียน' %}
                            {{show.status}}
                        {% else %}
                            {{show.status}}
                            {{show.student1}}
                            {{show.student2}}
                        {% endif %}
                        {% if show.committee1 != none %}
                            {{show.committee1}}
                            {{show.committee2}}
                        {% endif %}
                        <a href="{% url 'website:reportproject' show.id %}" >ดูรายงาน</a>

                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        
{% if user.groups.all.1.name == 'coordinator' or user.groups.all.0.name == 'coordinator'%}
        <table>
            {% for show in show %}
            <tr>
                <td>
            
                {{show.thainame}}
                {{show.consult}}
                {{show.detail}}
                    {% if show.status == 'ยังไม่มีนักศึกษาลงทะเบียน' %}
                        {{show.status}}
                    {% else %}
                        {{show.status}}
                        {{show.student1}}
                        {{show.student2}}
                    {% endif %}
                    {% if show.committee1 != none %}
                        {{show.committee1}}
                        {{show.committee2}}
                    {% endif %}
                    <a href="{% url 'website:reportproject' show.id %}" >ดูรายงาน</a>
            
        </td>
    </tr>
            {% endfor %}

        </table>
{% endif %}