{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
        <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
        {{ form.media }}
        <title>รายงานโครงงาน</title>
        </head>
{% endblock %}

{% block content %}

    <!-- <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit" name="Submit" id="submit">
    </form> -->
    {% if user.groups.all.1.name == 'coordinator' or user.groups.all.0.name == 'coordinator' or user.groups.all.0.name == 'admin'%}
    <div class="col-sm-12 center" style=" padding-bottom: 0;margin-bottom: 0;">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h4 class="card-title">โครงงานนักศึกษา</h4>
            </div>
            <!-- <h4 class="card-title">โครงงานนักศึกษา</h4> -->
            <p class="card-text">
                <form method="POST" >
                    {% csrf_token %}
                    <div class="form__group row mt-3 mx-1">
                            <label class="form__field">
                                <p>ขั้นตอนการดำเนินงาน :</p>  {{ form.topic }}
                            </label>
                      </div>
                      <div class="form__group row mt-3 mx-1">
                        <label class="form__field">
                          วันสิ้นสุด : {{ form.datedue }}
                        </label>
                      </div>
                      <div class="form-group row mt-3">
                        <div class="col-sm-10 mx-3">
                        <input class="btn btn-primary btn-sm active" type="submit" name="Submit" id="submit">
                        </div>
                      </div>
             </form>
            </p>
          </div>
        </div>
      </div>

<div class="col-sm-12 center">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <h4 class="card-title">กำหนดการ</h4>
        </div>
        <p class="card-text">
          <table class="table table-borderless">
            </thead>
            <tbody>
              
              <tr>
                  <th class="col">ขั้นตอนการดำเนินงาน</th>
                  <th class="col">วันสิ้นสุด</th>
              </tr>
              {% for show in file %}
              <tr>
                  <td>
                    {{show.topic}}
                  </td>
                  <td>
                    {{show.datedue}}
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </p>
      </div>
    </div>
  </div>

<!-- {% if user.groups.all.0.name == 'consultant' and user.groups.all.1.name != 'coordinator'%}
        <table>
            {% for show in show %}
            
            <tr>
                <td>
                    
                    {% if request.user.profmodel == show.consult %}
                    {{show.thainame}}
                    {{show.consult}}
                    {{show.detail}}
                        {% if show.status == 'ยังไม่มีนักศึกษาลงทะเบียน' %}
                            {{show.status}}
                        {% else %}
                            {{show.status}}
                            {{show.student1}}
                            {{show.student2}}
                        {% endif %}
                        {% if show.committee1 != none %}
                            {{show.committee1}}
                            {{show.committee2}}
                        {% endif %}
                        <a href="{% url 'website:reportproject' show.id %}" >ดูรายงาน</a>

                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %} -->

        {% if user.groups.all.0.name == 'consultant' and user.groups.all.1.name != 'coordinator'%}
        <div class="col-sm-12 center">
            <div class="card">
              <div class="card-body">
                <div class="card-header">
                  <h4 class="card-title">รายละเอียดโครงงาน</h4>
                </div>
                <!-- <h5 class="card-title">ที่ปรึกษาโครงงาน</h5> -->
                <p class="card-text">
                  <table class="table table-borderless">
                    </thead>
                    <tbody>
                      
                      <tr>
                          <th class="col">หัวข้อ</th>
                          <th class="col">อาจารย์ที่ปรึกษา</th>
                          <th class="col">รายละเอียด</th>
                          <th class="col">สถานะ</th>
                          <th class="col">นักศึกษา</th>
                          <th class="col">กรรมการ</th>
                          <th class="col">อื่นๆ</th>
                      </tr>
                      {% for show in show %}
                      
                      <tr>
                        {% if request.user.profmodel == show.consult %}
                          <td>
                            {{show.thainame}}
                          </td>
                          <td>
                            {{show.consult}}
                          </td>
                          <td>
                            {{show.detail}}
                          </td>
                        {% if show.status == 'ยังไม่มีนักศึกษาลงทะเบียน' %}
                        <td>
                            {{show.status}}
                        </td>
                        <td>
                            <p>-</p>
                        </td>
                        <!-- {% elif show.status == 'รอการอนุมัติ' %}
                            <td>
                                {{show.status}}
                            </td>
                            <td>
                                <p>{{show.student1}}</p>
                                <p>{{show.student2}}</p>
                            </td>
                            <td>
                                <a href="{% url 'website:statusproject' show.id %}" >อนุมัติโครงงาน</a>
                            </td> -->
                        {% else %}
                        <td>   
                            {{show.status}}
                        </td> 
                        <td>
                            <p>{{show.student1}}</p>
                            <p>{{show.student2}}</p>
                        </td>
                        {% endif %}
                        <!-- {% if show.committee1 == none %}
                        <td>
                            <p>-</p>
                        </td>
                        {% endif %} -->
                        {% if show.committee1 != none %}
                        <td>
                            <p>{{show.committee1}}</p>
                            <p>{{show.committee2}}</p>
                        </td>
                        <!-- {% else %}
                        <td>
                            <p>-</p>
                        </td> -->
                        {% endif %}
                        <td>   
                            <a href="{% url 'website:reportproject' show.id %}" >ดูรายงาน</a>
                        </td> 
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        
<!-- {% if user.groups.all.1.name == 'coordinator' or user.groups.all.0.name == 'coordinator'%}
        <table>
            {% for show in show %}
            <tr>
                <td>
            
                {{show.thainame}}
                {{show.consult}}
                {{show.detail}}
                    {% if show.status == 'ยังไม่มีนักศึกษาลงทะเบียน' %}
                        {{show.status}}
                    {% else %}
                        {{show.status}}
                        {{show.student1}}
                        {{show.student2}}
                    {% endif %}
                    {% if show.committee1 != none %}
                        {{show.committee1}}
                        {{show.committee2}}
                    {% endif %}
                    <a href="{% url 'website:reportproject' show.id %}" >ดูรายงาน</a>
            
        </td>
    </tr>
            {% endfor %}

        </table>
{% endif %} -->
{% if user.groups.all.1.name == 'coordinator' or user.groups.all.0.name == 'coordinator' or user.groups.all.0.name == 'admin'%}
<div class="col-sm-12 center">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <h4 class="card-title">รายละเอียดโครงงาน</h4>
        </div>
        <p class="card-text">
          <table class="table table-borderless">
            </thead>
            <tbody>
              
              <tr>
                  <th class="col">หัวข้อ</th>
                  <th class="col">อาจารย์ที่ปรึกษา</th>
                  <th class="col">รายละเอียด</th>
                  <th class="col">สถานะ</th>
                  <th class="col">นักศึกษา</th>
                  <th class="col">กรรมการ</th>
                  <th class="col">อื่นๆ</th>
              </tr>
              {% for show in show %}
              
              <tr>
                <!-- {% if request.user.profmodel == show.consult %} -->
                  <td>
                    {{show.thainame}}
                  </td>
                  <td>
                    {{show.consult}}
                  </td>
                  <td>
                    {{show.detail}}
                  </td>
                {% if show.status == 'ยังไม่มีนักศึกษาลงทะเบียน' %}
                <td>
                    {{show.status}}
                </td>
                <td>
                    <p>-</p>
                </td>
                <!-- <td>
                    <p>-</p>
                </td> -->
                {% else %}
                <td>   
                    {{show.status}}
                </td> 
                <td>
                    <p>{{show.student1}}</p>
                    <p>{{show.student2}}</p>
                </td>
                {% endif %}
                {% if show.committee1 != none %}
                <td>
                    <p>{{show.committee1}}</p>
                    <p>{{show.committee2}}</p>
                </td>
                {% endif %}
                {% if show.committee1 == none %}
                <td>
                    <p>-</p>
                </td>
                {% endif %}
                <td>   
                    <a href="{% url 'website:reportproject' show.id %}" >ดูรายงาน</a>
                </td> 
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </p>
      </div>
    </div>
  </div>
  {% endif %}


{% endblock %}