{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <!-- <link rel="stylesheet" href="{% static 'admin/css/base.css' %}"> -->
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
        {{ form.media }}
        <title>ลงทะเบียนโครงงาน</title>
    </head>
{% endblock %}
{% block content %}
    <body>
      
        <!-- <form method="POST" class="text-center">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" name="Submit" id="submit">
        </form> -->
        <div class="col-sm-12 center">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">ลงทะเบียนโครงงาน</h5>
                <p class="card-text">
                  <form method="POST">
                    {% csrf_token %}
                    <div class="form__group row mt-3 mx-1">
                        <label class="form__field">
                            นักศึกษาคนที่ 1 :  {{ form.student1 }}
                        </label>
                  </div>
                  <div class="form-group row mt-3 mx-1">
                    <label class="form__field">
                        นักศึกษาคนที่ 2 : {{ form.student1 }}
                    </label>
                  </div>
                </p>
              <input class="btn btn-primary btn-sm active mx-3 mt-3" type="submit" name="Submit" id="submit">
                </form>
              </div>
            </div>
          </div>

    </body>
{% endblock %}
