{% extends "layout.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <title>กรรมการ</title>
{% endblock %}
{% block content %}
    <body>
        <div class="col-sm-12 center">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{list.thainame}}</h5>
          </div>
            <!-- <h5 class="card-header">{{list.thainame}}</h5> -->
            <div class="card-body">
            <p class="card-text">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form__group row mt-3 mx-1">
                        <label class="form__field mt-2">
                          <p>คณะกรรมการคนที่ 1 :  </p>{{ form.committee1 }}
                        </label>
                      </div>
                      <div class="form__group row mt-3 mx-1">
                        <label class="form__field mt-2">
                          <p>คณะกรรมการคนที่ 2 :  </p>{{ form.committee2 }}
                        </label>
                      </div>
                    <!-- <label class="addcontent-blog">
                        {{ form.media }}
                        {{ form.as_p }}
                        </label> -->
                        <input class="btn btn-primary mt-4 mx-3" type="submit" name="Submit" id="submit">  
                </form>
            </p>
            </div>
          </div>
        </div>
    </body>
{% endblock %}
