{% extends "layout.html" %}
{% load static %}

{% block head %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{% url 'js-catlog' %}"></script>
  <script src="{% static '/admin/js/core.js' %}"></script>
  {{ form.media }}
  <!-- <link rel="stylesheet" href="{% static 'admin/css/base.css' %}"> -->
  <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
  <title>ผู้ประสานงาน</title>
</head>
{% endblock %}
{% block content %}
    <body>
        <!-- <form method="POST" class="text-center">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" name="Submit" id="submit">
        </form>


        <table>
            {% for show in show %}
            <tr>
                <td>
                    {{show.date}}
                    {{show.list}}
                    <a href="{% url 'website:deletecoorplan' show.id %}" 
                    onclick="return confirm('Confirm Delete?')">ลบ</a>
                    <a href="{% url 'website:updatecoorplan' show.id %}" >แก้ไข</a>
                </td>
            </tr>
            {% endfor %}

            <a href="{% url 'website:coorplan_csv' %}">upload csv</a>
        </table> -->
        
        <div class="col-sm-12 center">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">โครงการนักศึกษา</h5>
                  <p class="card-text">
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form__group row mt-3 mx-1">
                        <label class="form__field">
                          วันที่ : {{ form.date }}
                        </label>
                      </div>
                      <div class="form__group row mt-3 mx-1">
                        <label class="form__field">
                          รายการ : {{ form.list }}
                        </label>
                      </div>
                      <!-- <label class="form__field">
                        วันที่ : {{ form.date }}
                        รายการ : {{ form.list }}
                      </label> -->
                  </p>
                  <input class="btn btn-primary btn-sm active mt-4 mx-3" type="submit" name="Submit" id="submit">
                  <a href="{% url 'website:coorplan_csv' %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Upload CSV</a>
                  </form>
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 mt-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">แผนการดำเนินงาน</h5>
                  <p class="card-text">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th class="col">วันที่</th>
                          <th class="col-6">รายการ</th>
                          <th class="col">ลบ/แก้ไข</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for show in show %}
                        <tr>
                          <td>{{show.date}}</td>
                          <td>{{show.list}}</td>
                          <td>
                            
                            <a href="{% url 'website:deletecoorplan' show.id %}" 
                            onclick="return confirm('Confirm Delete?')">ลบ</a>
                            <a href="{% url 'website:updatecoorplan' show.id %}" >แก้ไข</a>
                            
                          </td>
                          {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </p>
                </div>
              </div>
            </div>
          </div>
    </body>
{% endblock %}
