{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <!-- <link rel="stylesheet" href="{% static 'admin/css/base.css' %}"> -->
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        <title>รายละเอียดโครงงาน</title>
    </head>
{% endblock %}
{% block content %}

        <!-- <table>
            {% for show in show %}
            <tr>
                <td>
                    {{show.thainame}}
                    {{show.consult}}
                    {{show.detail}}
                    {{show.status}}
                    {{show.student1}}
                    {{show.student2}}  
                </td>
            </tr>
            {% endfor %}

        </table> -->
        
        <div class="col-sm-12 center">
            <div class="card">
              <div class="card-body">
                <!-- <h5 class="card-title">ข้อมูลโครงงาน</h5> -->
                <div class="card-header">
                  <h5 class="card-title">ข้อมูลโครงงาน</h5>
                </div>
                <p class="card-text">
                  <table class="table table-borderless">
                    <thead>
                      <tr style="background-color:#B9C4D8;">
                        <th scope="col">ชื่อโครงงาน</th>
                        <th scope="col">ที่ปรึกษา</th>
                        <th scope="col">รายละเอียด</th>
                        <th scope="col">สถานะ</th>
                        <th scope="col">สมาชิก</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for show in show %}
                      <tr style="background-color:#E4E7EC;">
                        <td>{{show.thainame}}</td>
                        <td>{{show.consult}}</td>
                        <td>{{show.detail}}</td>
                        <td>{{show.status}}</td>
                        {% if show.student2 != None %}
                        <td>
                          <p>{{show.student1}}</p>
                          <p>{{show.student2}}</p>
                      </td> 
                        {% else %}
                          <td>
                            <p>{{show.student1}}</p>
                          </td>
                        {% endif %}
                            
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </p>
              </div>
            </div>
          </div>
          {% for show in score %}
          {% if show.grade is not None %}
          <div class="col-sm-12 center">
            <div class="card">
              <div class="card-body">
                <!-- <h5 class="card-title">ข้อมูลโครงงาน</h5> -->
                <div class="card-header">
                  <h5 class="card-title">คะแนน {{show.subject.subject}}</h5>
                </div>
                <p class="card-text">
                  <table class="table table-borderless">
                    <thead>
                      <tr style="background-color:#B9C4D8;">  
                        <th scope="col">คะแนนจากที่ปรึกษา</th>
                        <th scope="col">คะแนนจากกรรมการ</th>
                        <th scope="col">คะแนนจากกรรมการ</th>
                        <th scope="col">คะแนนรวม</th>
                        <th scope="col">เกรด</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <tr style="background-color:#E4E7EC;">
                        <td>{{show.consc}}</td>
                        <td>{{show.com1sc}}</td>
                        <td>{{show.com2sc}}</td>
                        <td>{{show.score}}</td>
                        
                        <td>{{show.grade}} </td>


                        
                      </tr>
                      
                    </tbody>
                  </table>
                </p>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
    </body>
{% endblock %}
