{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <!-- <link rel="stylesheet" href="{% static 'admin/css/base.css' %}"> -->
        {{ form.media }}
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        <title>Document project</title>
    </head>
{% endblock %}
{% block content %}
<br><br><br><br><br><br><br><br><br>
{% if messages %}
{% for messages in messages %}
    <h3 class="text-center text-warning">{{messages|safe}}</h3>
{% endfor %}
{% else %}
    <body>
        <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <h5 class="card-title">Upload CSV</h5>
                <p class="card-text">
                  <form method="POST" class="text-center">
                    {% csrf_token %}
                    <label class="addcontent-blog">
                      วันที่ : {{ form.date }}
                      รายการ : {{ form.list }}
                    </label>
                </p>
        

              <!-- <input class="btn btn-primary btn-sm active" type="input" name="Submit" id="submit" role="button" aria-pressed="true">Submit</input> -->
              <input class="btn btn-primary btn-sm active" type="submit" name="Submit" id="submit">
              <a href="{% url 'website:todo_csv' %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Upload CSV</a>
                </form>
              </div>
          </div>
        <!-- <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" name="Submit" id="submit">
        </form> -->
    </body>

    ประวัติการส่ง
    <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">รายการสิ่งที่ต้องทำ</h5>
            <p class="card-text">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">หัวเรื่อง</th>
                  </tr>
                </thead>
                <tbody>
                  {% for show in show %}
                  <tr>
                    <td>{{show.topic}}</td>
                    <td>
                        <a href="{{show.file.url}}" download>download file</a>
                    </td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
            </p>
          </div>
      </div>
    <!-- <table>
        {% for show in show %}
        <tr>
            <td>
                {{show.topic}}
                <a href="{{show.file.url}}" download>download file</a>

            </td>
        </tr>
        {% endfor %}

    </table> -->
    {% endif %}
{% endblock %}
