{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <!-- <link rel="stylesheet" href="{% static 'admin/css/base.css' %}"> -->
        {{ form.media }}
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        <title>อัพโหลดเอกสารโครงงาน</title>
    </head>
{% endblock %}
{% block content %}

{% if messages %}
      {% for messages in messages %}
<div class="col-sm-12 center">
  <div class="card">
    <div class="card-body">
        <br><br>
          <h3 class="text-center text-danger">{{messages|safe}}</h3>
        <br><br>
      {% endfor %}
    </div>
  </div>
</div>
     
{% else %}
<div class="col-sm-12 center">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">กำหนดส่งงาน</h4>
    </div>
      <div class="card-body">
          <p class="card-text">
            <table class="table table-borderless">
              <thead>
                <tr style="background-color:#B9C4D8;">
                  <th scope="col">รายงาน</th>
                  <th scope="col">กำหนดส่ง</th>
                </tr>
              </thead>
              <tbody>
                {% for show in topic %}
                <tr style="background-color:#E4E7EC;">
                  <td>{{show.topic}}</td>
                  <td>
                    {{show.datedue}}
                  </td>
                  
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </p>
        </div>
    </div>
  </div>
        <!-- {% comment %} <div class="card">
            <div class="card-header">
              อัพโหลดเอกสารโครงงาน
            </div>
            <div class="card-body">
                <h5 class="card-title">Upload CSV</h5>
                <p class="card-text">
                  <form method="POST" class="text-center">
                    {% csrf_token %}
                    <label class="addcontent-blog">
                      วันที่ : {{ form.date }}
                      รายการ : {{ form.list }}
                    </label>
                </p>
              <a href="{% url 'website:todo_csv' %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Upload CSV</a>
                </form>
              </div>
          </div> {% endcomment %} -->
        <!-- <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" name="Submit" id="submit">
        </form>
    </body> -->
    <div class="col-sm-12 center">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h4 class="card-title">เอกสารโครงงาน</h4>
          </div>
          <p class="card-text">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form__group row mt-3 mx-1">
                <label class="form__field">
                  <p>โครงงาน : </p>{{ form.project }}
                </label>
              </div>
              <div class="form__group row mt-3 mx-1">
                <label class="form__field">
                  <P>หัวข้อ : </P>{{ form.topic}}
                </label>
              </div>
              <div class="form__group row mt-4 mx-1">
                  {{ form.file}}
              </div>
              <!-- <label class="addcontent-blog">
                วันที่ : {{ form.date }}
                รายการ : {{ form.list }}
              </label> -->
          </p>
          <input class="btn btn-primary btn-sm active mt-4 mx-3" type="submit" name="Submit" id="submit">
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 center">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">ประวัติการส่ง</h4>
      </div>
        <div class="card-body">
            <p class="card-text">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">หัวเรื่อง</th>
                    <th scope="col">วันที่</th>
                    <th scope="col">อื่นๆ</th>
                  </tr>
                </thead>
                <tbody>
                  {% for show in show %} 
                  
                  <tr>
                    <td>{{show.topic}}</td>
                    <td>{{show.date}}</td>
                   
                     <td>
                          <a href="{{show.file.url}}" download>{{show.file}}</a>
                      </td> 
                    
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
            </p>
          </div>
      </div>
    </div>

    {% endif %}
{% endblock %}
