{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <!-- <link rel="stylesheet" href="{% static 'admin/css/base.css' %}"> -->
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
        <title>Document</title>
        {{ form.media }}
    </head>
{% endblock %}
{% block content %}
    <body>
        <!-- <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" name="Submit" id="submit">
        </form> -->
        <div class="col-sm-12 center" style=" padding-bottom: 0;margin-bottom: 0;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">อัพโหลดเอกสาร</h5>
                <p class="card-text">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- <label class="form-label mx-3" for="customFile"> Uploads file</label> -->
                        <div class="form__group row mt-3 mx-1">
                          <label class="form__field">
                            ชื่อ (Title) :  {{ form.title }}
                          </label>
                        </div>
                        <div class="form__group row mt-4">
                          <label class="mx-3">{{ form.file }}</label>
                        </div>
                            
                        <!-- <input type="file" name="file" class="form-control mt-2" id="customFile" /> -->
                        
                    </form>
                    <input class="btn btn-primary btn-sm active mt-4 mx-3" type="submit" name="Submit" id="submit">
                </p>
              </div>
            </div>
          </div>

<!-- 
        <table>
            {% for show in show %}
            <tr>
                <td>
                    {{show.title}} 
                    <a href="{{show.file.url}}" download>download file</a>
                    <a href="{% url 'website:deletedoc' show.id %}" 
                    onclick="return confirm('Confirm Delete?')">ลบ</a>
                    <a href="{% url 'website:doc_detail' show.id %}" >รายละเอียด</a>
                </td>
            </tr>
            {% endfor %}

            <a href="{% url 'website:todo_csv' %}">upload csv</a>
        </table> -->
        <div class="col-sm-12 center">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">เอกสาร</h5>
                <p class="card-text">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th class="col-8">หัวข้อ</th>
                        <th class="col">ดาวน์โหลดเอกสาร</th>
                        <th class="col">ลบ/แก้ไข</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for show in show %}
                      <tr>  
                          <td>
                            {{show.title}}
                          </td>
                          <td>
                            <a href="{{show.file.url}}" download>download file</a>
                          </td>
                        <td>
                            <a href="{% url 'website:deletedoc' show.id %}" 
                            onclick="return confirm('Confirm Delete?')">ลบ</a>
                            <a href="{% url 'website:doc_detail' show.id %}" >รายละเอียด</a>
                        </td>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </p>
              </div>
            </div>
          </div>

    </body>
{% endblock %}
