
{% block head %}

{% endblock %}
{% block content %}
<br><br>
    <body>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" name="Submit" id="submit">
        </form>
    </body>

{% for show in show %}
    
    <br>
    <tr>
        <td>
            {{show.subject}} <a href="{% url 'website:updategrade' show.id %}" >แก้ไข</a><br>
            A  {{show.A}}<br>
            B+ {{show.Bplus}}<br>
            B  {{show.B}}<br>
            C+ {{show.Cplus}}<br>
            C  {{show.C}}<br>
            D+ {{show.Dplus}}<br>
            D  {{show.D}}<br>
            F  {{show.F}}<br>
        </td>
    </tr>
{% endfor %}
{% endblock %}