{% extends 'baselayout.html' %}
{% load static %}
{% block body %}

<section class="fixed-border">    
    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- left sidebar -->
            <div class="col-md-2 fixed pl-0 py-2 bg-dark left">
                <ul class="nav flex-md-column flex-nowrap justify-content-center">

                    <!-- ################# ADMIN ################## -->

                    {% if user.groups.all.0.name == 'admin' %}
                    <li class="nav-item mt-5">
                        <a class="nav-link text-truncate " href="#"></a>
                    </li>
                    <li class="nav-item mt-3">
                        <a class="nav-link" href="{% url 'website:todolist' %}">
                            <i class='bx bx-grid-alt nav_icon mr-3'></i>รายการที่ต้องทำ</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="{% url 'website:news' %}">
                            <i class='bx bx-news nav_icon mr-3'></i>ประกาศข่าวสาร</a>
                    </li>
                    <li class="nav-item mt-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class='bx bx-message-square-detail nav_icon mr-3'></i>แผนการดำเนินงาน</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="{% url 'website:coorplan' %}">ผู้ประสานงาน</a></li>
                          <li><a class="dropdown-item" href="{% url 'website:complan' %}">กรรมการ</a></li>
                          <li><a class="dropdown-item" href="{% url 'website:profplan' %}">ที่ปรึกษา</a></li>
                          <li><a class="dropdown-item" href="{% url 'website:stdplan' %}">นักศึกษา</a></li>
                        </ul>
                      </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link " href="{% url 'website:document' %}">
                            <i class='bx bx-bookmark nav_icon mr-3'></i>อัพโหลดเอกสาร</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>โครงงานนักศึกษา</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>เอกสารโครงงาน</a>
                    </li>
                    <li class="nav-item mt-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class='bx bx-message-square-detail nav_icon mr-3'></i>คะแนนโครงงาน</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">เทอม 1</a></li>
                          <li><a class="dropdown-item" href="#">เทอม 2</a></li>
                        </ul>
                      </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>เกณฑ์การตัดเกรด</a>
                    </li>
                    <li class="nav-item mt-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class='bx bx-user nav_icon mr-3'></i>จัดการข้อมูลพื้นฐาน</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="{% url 'website:prof' %}">อาจารย์</a></li>
                          <li><a class="dropdown-item" href="{% url 'website:other' %}">ผู้ใช้งานนอกภาควิชา</a></li>
                          <li><a class="dropdown-item" href="#">ผู้ประสานงาน</a></li>
                          <li><a class="dropdown-item" href="{% url 'website:std' %}">นักศึกษา</a></li>
                        </ul>
                      </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#"><i class='bx bx-cog nav_icon mr-3'></i>ตั้งค่า</a>
                    </li>
                    {% endif %}


                    <!-- ################# COORDINATOR ################## -->


                    {% if user.groups.all.0.name == 'coordinator' %}
                    <li class="nav-item mt-5">
                        <a class="nav-link text-truncate " href="#"></a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="{% url 'website:news' %}">
                            <i class='bx bx-news nav_icon mr-3'></i>ประกาศข่าวสาร</a>
                    </li>
                    <li class="nav-item mt-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class='bx bx-message-square-detail nav_icon mr-3'></i>แผนการดำเนินงาน</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="{% url 'website:complan' %}">กรรมการ</a></li>
                          <li><a class="dropdown-item" href="{% url 'website:profplan' %}">ที่ปรึกษา</a></li>
                          <li><a class="dropdown-item" href="{% url 'website:stdplan' %}">นักศึกษา</a></li>
                        </ul>
                      </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link " href="{% url 'website:document' %}">
                            <i class='bx bx-bookmark nav_icon mr-3'></i>อัพโหลดเอกสาร</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>โครงงานนักศึกษา</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>เอกสารโครงงาน</a>
                    </li>
                    <li class="nav-item mt-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class='bx bx-message-square-detail nav_icon mr-3'></i>คะแนนโครงงาน</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">เทอม 1</a></li>
                          <li><a class="dropdown-item" href="#">เทอม 2</a></li>
                        </ul>
                      </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>เกณฑ์การตัดเกรด</a>
                    </li>
                    {% endif %}


                    <!-- ################# CONSULTANT ################## -->


                    {% if user.groups.all.0.name == 'consultant' %}
                    <li class="nav-item mt-5">
                        <a class="nav-link text-truncate " href="#"></a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>ติดตามโครงงานนักศึกษา</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>อนุมัติโครงงาน</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>แก้ไขข้อมูลโครงงาน</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>ประเมินโครงงาน</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>กรรมการประเมินโครงงาน</a>
                    </li>
                    {% endif %}



                    <!-- ################# STUDENT ################## -->


                    {% if user.groups.all.0.name == 'student' %}
                    <li class="nav-item mt-5">
                        <a class="nav-link text-truncate " href="#"></a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>รายการที่ต้องทำ</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>ข้อมูลโครงงาน</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>ข้อมูลนักศึกษา</a>
                    </li>
                    {% endif %}       
                    
                    

                    <!-- ################# OTHER ################## -->


                    {% if user.groups.all.0.name == 'other' %}
                    <li class="nav-item mt-5">
                        <a class="nav-link text-truncate " href="#"></a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>ติดตามโครงงานนักศึกษา</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">
                            <i class='bx bx-folder nav_icon mr-3'></i>ประเมินโครงงาน</a>
                    </li>
                    {% endif %}       

                </ul>
            </div>
            <!-- center content -->
            <!--ghost div to push middle section offset-->
            <!-- <div class="invisible col-md-2 fixed"></div> -->
            <div class="col fluid d-flex flex-column p-0">
                <nav id="topNav" class="navbar navbar-expand-md fixed-top navbar-dark bg-danger">
                    <a class="navbar-brand" href="#first"><img src="{% static 'images/Logo_ECE.png' %}" style="width: 30%;"></a>
                    <button class="navbar-toggler ml-auto py-2" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                        ☰
                    </button>
                    <div class="collapse navbar-collapse" id="collapsingNavbar">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="{% url 'user:logout' %}"><i class="bx bx-log-out nav_icon mr-3 mt-2"></i>ออก</a>
                            </li>
                        </ul>
                    </div>
                </nav>
    
                <!-- main content -->
                <div class="flex-grow">
                    <div class="col-12 py-4">
                           
                        <!-- {% block head %}
                        {% endblock %} -->

                        {% block content %}
                        {% endblock %}
                           
                        </div>
                </div>
                <!-- /main content -->
    
               
    
            </div>
            
            <!-- right sidebar -->
           
        </div>
    </div>

   
</section>    
    {% endblock %}

