{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
        <link rel="stylesheet" href="{% static '/css/addcontent.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        {{ form.media }}
        <title>News</title>
    </head>
{% endblock %}
{% block content %}
    <body>
        <!-- <form method="POST" >
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}

            <div>
                <h5>title</h5>
                {{ form.title }}
            </div>
            <div>
                <h5>detail</h5>
                {{ form.detail }}
            </div>
            <div>
                <h5>อาจารย์ในภาค</h5>
                {{ form.in_prof }}
            </div>
            <div>
                <h5>อาจารย์นอกภาค</h5>
                {{ form.out_prof }}
            </div>
            <div>
                <h5>นักศึกษาสาขาคอม</h5>
                {{ form.cn_std }}
            
            </div>
            <div>
                <h5>นักศึกษาสาขาไฟฟ้า</h5>
                {{ form.ee_std }}
            </div>

            <input type="submit" name="Submit" id="submit">
        </form> -->

        <div class="col-sm-12 center" style=" padding-bottom: 0;margin-bottom: 0;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">อัพโหลดข่าวประชาสัมพันธ์</h4>
                <p class="card-text">
                    <form method="POST" >
                        {% csrf_token %}
                        <div class="form-group row">
                                <label for="uname"><strong>หัวข้อ</strong></label>
                                <div class="form__field" name="uname">{{ form.title }}</div>
                          </div>
                          <div class="form-group row mt-3">
                            <label class="form__field" placeholder="Email" >
                                รายละเอียด : {{ form.detail }}
                            </label>
                          </div>
                          <div class="mt-3 checkbox">
                            <div><h6>อาจารย์ในภาค</h6></div>
                            <div class="mx-3">{{ form.in_prof }}</div>
                            <span></span>
                        </div>
                        <div class="mt-3 checkbox">
                            <div><h6>อาจารย์นอกภาค</h6></div>
                            <div class="mx-3">{{ form.out_prof }}</div>
                            <span></span>
                        </div>
                        <div class="mt-3 checkbox">
                            <div><h6>นักศึกษาสาขาคอม</h6></div>
                            <div class="mx-3">{{ form.cn_std }}</div>
                            <span></span>
                        </div>
                        <div class="mt-3 checkbox">
                            <div><h6>นักศึกษาสาขาไฟฟ้า</h6></div>
                            <div class="mx-3">{{ form.ee_std }}</div>
                            <span></span>
                        </div>
                          <div class="form-group row mt-3">
                            <div class="col-sm-10 mx-3">
                            <input class="btn btn-primary btn-sm active" type="submit" name="Submit" id="submit">
                            </div>
                          </div>
                 </form>
                </p>
              </div>
            </div>
          </div>

        <div class="col-sm-12 center">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">ข่าวประชาสัมพันธ์</h5>
                <p class="card-text">
                  <table class="table table-borderless">
                    </thead>
                    <tbody>
                      
                      <tr>
                          <th class="col">หัวข้อ</th>
                          <th class="col">รายละเอียด</th>
                          <th class="col">ลบ/แก้ไข</th>
                      </tr>
                      {% for show in show %}
                      <tr>
                          <td>
                              {{show.title}}
                          </td>
                          <td>
                            <a href="{% url 'website:news_detail' show.id %}" >รายละเอียด</a>
                          </td>
                        <td>
                          <a href="{% url 'website:deletenews' show.id %}" 
                          onclick="return confirm('Confirm Delete?')">ลบ</a>
                          <a href="{% url 'website:updatenews' show.id %}" >แก้ไข</a>
                        </td>
                        
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </p>
                <a href="{% url 'website:news_csv' %}" class="btn btn-primary">upload csv</a>
              </div>
            </div>
          </div>
        <!-- <table>
            {% for show in show %}
            <tr>
                <td>
                    {{show.title}}
                    <a href="{% url 'website:news_detail' show.id %}" >รายละเอียด</a>
                    <a href="{% url 'website:deletenews' show.id %}" 
                    onclick="return confirm('Confirm Delete?')">ลบ</a>
                    <a href="{% url 'website:updatenews' show.id %}" >แก้ไข</a>
                </td>
            </tr>
            {% endfor %}

            <a href="{% url 'website:news_csv' %}">upload csv</a>
        </table> -->


    </body>
{% endblock %}
