{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <!-- <link rel="stylesheet" href="{% static 'admin/css/base.css' %}"> -->
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        <!-- <link rel="stylesheet" href="{% static '/css/addcontent.css' %}"> -->
        <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
        <title>อาจารย์ที่ปรึกษา</title>
        {{ form.media }}
    </head>
{% endblock %}
{% block content %}
    <body>
        <!-- <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" name="Submit" id="submit">
        </form>


        <table>
            {% for show in show %}
            <tr>
                <td>
                    {{show.title}} {{show.fname}} {{show.lname}} {{show.major}} {{show.email}} {{show.phone}}
                    <a href="{% url 'website:deleteprof' show.id %}" 
                    onclick="return confirm('Confirm Delete?')">ลบ</a>
                    <a href="{% url 'website:updateprof' show.id %}" >แก้ไข</a>
                </td>
            </tr>
            {% endfor %}

            <a href="{% url 'website:prof_csv' %}">upload csv</a>
        </table> -->

        <div class="col-sm-12 center" style=" padding-bottom: 0;margin-bottom: 0;">
          <div class="card">
            <div class="card-body">
              <h3 class="card-header">อาจารย์</h3>
              <p class="card-text">
                  <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form__group row mt-3 mx-1">
                        <label class="form__field">
                          หัวข้อ (Title) :  {{ form.title }}
                        </label>
                      </div>
                      <div class="form__group row mt-3 mx-1">
                        <label class="form__field">
                          ชื่อจริง (First name) :  {{ form.fname }}
                        </label>
                      </div>
                      <div class="form__group row mt-3 mx-1">
                        <label class="form__field">
                          นามสกุล (Last name) :  {{ form.lname }}
                        </label>
                      </div>
                      <div class="form__group row mt-3 mx-1">
                        <label class="form__field mt-2">
                          <p>คณะ (Major) :  </p>{{ form.major }}
                        </label>
                      </div>
                      <div class="form__group row mt-3 mx-1">
                        <label class="form__field">
                          อีเมลล์ (Email) :  {{ form.email }}
                        </label>
                      </div>
                      <div class="form__group row mt-3 mx-1">
                        <label class="form__field">
                          โทรศัพท์ (Phone) :  {{ form.phone }}
                        </label>
                      </div>
                  </form>
                  <input class="btn btn-primary btn-sm active mt-4 mx-3" type="submit" name="Submit" id="submit">
                  <a href="{% url 'website:prof_csv' %}" class="btn btn-secondary btn-sm active mt-4 mx-3" role="button" aria-pressed="true">Upload CSV</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 center">
          <div class="card">
            <div class="card-body">
              <h3 class="card-header">รายชื่ออาจารย์</h3>
              <p class="card-text">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th class="col"></th>
                      <th class="col">ชื่อจริง</th>
                      <th class="col">นามสกุล</th>
                      <th class="col">คณะ</th>
                      <th class="col">อีเมลล์</th>
                      <th class="col">เบอร์โทรศัพท์</th>
                      <th class="col">ลบ/แก้ไข</th>
                      <th class="col">อื่นๆ</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for show in show %}
                    <tr>  
                        <td>
                          {{show.title}}
                        </td>
                        <td>{{show.fname}}</td>
                        <td>{{show.lname}}</td>
                        <td>{{show.major}}</td>
                        <td>{{show.email}}</td>
                        <td>{{show.phone}}</td>
                      <td>
                          <a href="{% url 'website:deleteprof' show.id %}" 
                          onclick="return confirm('Confirm Delete?')">ลบ</a>
                          <a href="{% url 'website:updateprof' show.id %}" >แก้ไข</a>
                      </td>
                      <td>
                        <a href="{% url 'website:addcoor' show.id %}" >เพิ่มผู้ประสานงาน</a>
                        {% comment %} <a href="{% url 'website:coordinator' show.id %}" >TESTING</a> {% endcomment %}
                      </td>
                      {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 center">
          <div class="card">
            <div class="card-body">
              <h3 class="card-header">ผู้ประสานงาน</h3>
              <p class="card-text">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th class="col"></th>
                      <th class="col">ชื่อ</th>
                      <th class="col">นามสกุล</th>
                      <th class="col">คณะ</th>
                      <th class="col">อีเมลล์</th>
                      <th class="col">เบอร์โทรศัพท์</th>
                      <th class="col">ลบ</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for show in coor %}
                    <tr>  
                        <td>
                          {{show.user.title}}
                        </td>
                        <td>{{show.user.fname}}</td>
                        <td>{{show.user.lname}}</td>
                        <td>{{show.user.major}}</td>
                        <td>{{show.user.email}}</td>
                        <td>{{show.user.phone}}</td>
                      <td>
                        <a href="{% url 'website:deletecoor' show.id %}" 
                        onclick="return confirm('Confirm Delete?')">ลบ</a>
                      </td>
                      {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </p>
            </div>
          </div>
        </div>

        <!-- <div class="card mt-5">
            <h5 class="card-header">Upload CSV</h5>
            <div class="card-body">
              <p class="card-text"><form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="addcontent-blog">
                  {{ form.media }}
                  {{ form.as_p }}
                </label>
                <div class="text-center">
                <a href="#" type="submit" name="Submit" id="submit" class="btn btn-primary">Submit</a></div>
            </form></p>
            </div>
          </div>
          <div class="card mt-5">
            <h5 class="card-header">รายชื่ออาจารย์</h5>
            <div class="card-body">
              <p class="card-text">
                <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Name</th>
                        <th scope="col">Major</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for show in show %}
                      <tr>
                        <td>{{show.title}}</td>
                        <td>{{show.fname}} {{show.lname}}</td>
                        <td>{{show.major}}</td>
                        <td>{{show.email}}</td>
                        <td>{{show.phone}}</td>
                        <td>
                            <a href="{% url 'website:deleteprof' show.id %}" 
                            onclick="return confirm('Confirm Delete?')">ลบ</a>
                            <a href="{% url 'website:updateprof' show.id %}" >แก้ไข</a>
                            <a href="{% url 'website:addcoor' show.id %}" >เพิ่มผู้ประสานงาน</a>
                            {% comment %} <a href="{% url 'website:coordinator' show.id %}" >TESTING</a> {% endcomment %}
                        </td>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </p>
            </div>
          </div>
          <div class="card mt-5">
            <h5 class="card-header">ผู้ประสานงาน</h5>
            <div class="card-body">
              <p class="card-text">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Name</th>
                      <th scope="col">Major</th>
                      <th scope="col">Email</th>
                      <th scope="col">Phone</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for show in coor %}
                    <tr>
                      <td>{{show.user.title}}</td>
                      <td>{{show.user.fname}} {{show.user.lname}}</td>
                      <td>{{show.user.major}}</td>
                      <td>{{show.user.email}}</td>
                      <td>{{show.user.phone}}</td>
                      <td>
                        <a href="{% url 'website:deletecoor' show.id %}" 
                        onclick="return confirm('Confirm Delete?')">ลบ</a>

                      </td>
                      {% endfor %}
                    </tr>
                  </tbody>
                </table>
                </p>
            </div>
          </div> -->
    </body>
{% endblock %}
