{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        <title>project</title>
    </head>
{% endblock %}
{% block content %}
    <body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        {% if user.groups.all.0.name == 'consultant' %}
        <form method="POST" class="text-center">
            {% csrf_token %}
            {{ form.media }}
                <p>ชื่อไทย</p>
                {{ form.thainame }}

                <p>ชื่ออิง</p>
                {{ form.engname }}

                <p>ที่ปรึกษา</p>
                <p>{{ request.user.profmodel }}</p>
                {{ form.consult }}

                <p>รายละเอียด</p>
                {{ form.detail }}

            <input type="submit" name="Submit" id="submit">
            {% endif %}
        </form>

        <table>
            {% for show in show %}
        
            <tr>
                <td>
                    {{show.thainame}}
                    {{show.consult}}
                    {{show.detail}}
                    {% if user.groups.all.0.name == 'consultant' %}
                        {% if show.status == 'ยังไม่มีนักศึกษาลงทะเบียน' %}
                            {{show.status}}
                        {% else %}
                            {{show.status}}
                            {{show.student1}}
                            {{show.student2}}
                        {% endif %}
                    {% endif %}

                    {% if user.groups.all.0.name == 'student' %}
                            {% if show.status == 'รอการอนุมัติ' %}
                                {{show.status}}
                                {{show.student1}}
                                {{show.student2}}
                            {% else %}
                            {% if x == 0 %}
                                <a href="{% url 'website:applyproject' show.id%}" >ลงทะเบียน</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    
                    
                    {% if user.groups.all.0.name == 'consultant' %}
                    <a href="{% url 'website:deleteproject' show.id %}" 
                    onclick="return confirm('Confirm Delete?')">ลบ</a>
                    <a href="{% url 'website:updateproject' show.id %}" >แก้ไข</a>
                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}

        </table>

    </body>
{% endblock %}
