{% extends "layout.html" %}

{% load static %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    {{ form.media }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
    <title>สรุปคะแนนโครงงาน</title>
    </head>
{% endblock %}

{% block content %}

{% if messages %}
{% for messages in messages %}
<div class="card text-white bg-danger mx-5">
  <div class="card-body text-center">
    {{messages|safe}}
  </div>
</div>
{% endfor %}
{% endif %}

{% for show in show %}
{% if show.std1 is not None %}

<div class="col-sm-12 center">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">{{show.project}}</h5>
        </div>
        <p class="card-text">
          <table class="table table-borderless mb-5">
            <thead>
              <tr style="background-color:#B9C4D8;">
                <th class="col align-baseline">รายงาน</th>
                <th class="col align-baseline">กำหนดส่ง</th>
                <th class="col align-baseline">วันที่ส่ง</th>
                <th class="col align-baseline"><p>คะแนนจากที่ปรึกษา </p> ({{show.consult}})</th>
                <th class="col align-baseline"><p>คะแนนจากกรรมการ 1</p> ({{show.committee1}})</th>
                <th class="col align-baseline"><p>คะแนนจากกรรมการ 2 </p>({{show.committee2}})</th>
                <th class="col align-baseline">คะแนนรวม</th>
                <th class="col align-baseline">สถานะคะแนน</th>
                {% if user.groups.all.0.name == 'admin' or user.groups.all.0.name == 'coordinator' or user.groups.all.1.name == 'coordinator'%}
                <th class="col align-baseline">สรุปคะแนน</th>
                <th class="col align-baseline">หักคะแนน</th>
                {% endif %}
              </tr>
            </thead>
            {% for re in re %}
            {% if re.project == show.project %}
            <tbody>
              <tr style="background-color:#E4E7EC;">
                <td>{{re.topic.topic}}</td>
                <td>{{re.topic.datedue}}</td>
                {% if re.sccon != None %}
                <td>{{re.date}}</td>
                {% else %}
                  <td>ยังไม่ได้ส่ง</td>
                {% endif %}
                
                {% if re.sccon != None %}
                  <td>{{re.sccon}}</td>
                {% else %}
                  <td>ยังไม่ได้ประเมิน</td>
                {% endif %}
                
                {% if re.sccom1 != None %}
                  <td>{{re.sccom1}}</td>
                {% else %}
                  <td>ยังไม่ได้ประเมิน</td>
                {% endif %}

                {% if re.sccom2 != None %}
                  <td>{{re.sccom2}}</td>
                {% else %}
                  <td>ยังไม่ได้ประเมิน</td>
                {% endif %}
        
                {% if re.score != None %}
                  <td>{{re.score}}</td>
                {% else %}
                  <td>ยังไม่ได้สรุป</td>
                {% endif %}

                {% if re.subscore == True %}
                  <td>ถูกหักคะแนน</td>
                {% else %}
                  <td>ไม่ได้หักคะแนน</td>
                {% endif %}
                {% if user.groups.all.0.name == 'admin' or user.groups.all.0.name == 'coordinator' or user.groups.all.1.name == 'coordinator'%}
                <td><a href="{% url 'website:avgscore' re.id %}" class="btn btn-primary btn-xs text-center" role="button" aria-pressed="true">สรุปคะแนน</a></td>
                <td><a href="{% url 'website:subscore' re.id %}" class="btn btn-primary btn-xs text-center" role="button" aria-pressed="true">หักคะแนน</a></td>
                {% endif %}
              </tr>
            </tbody> 
            {% endif %}
          {% endfor%}
          </table>
         
          <table class="table table-borderless mb-5">
            <thead>
              <tr style="background-color:#B9C4D8;">
                <th class="col">ภาคเรียน</th>
                <th class="col">สมาชิก</th>
                <th class="col">ที่ปรึกษา</th>
                <th class="col">คะแนนรวม</th>
                <th class="col">เกรด</th>
              </tr>
            </thead>
            <tbody>
              <tr style="background-color:#E4E7EC;">
                <td>{{show.subject}}</td>
                {% if show.std2 != None %}
                <td>
                    <p>{{show.std1}}</p>
                    <p>{{show.std2}}</p>
                </td>
                {% else %}
                <td>
                  <p>{{show.std1}}</p>
                </td>
                {% endif %}
                <td>{{show.consult}}</td>
                {% if show.score != None %}
                <td>{{show.score}} </td>
                {% else %}
                <td>ไม่ได้รวมคะแนน</td>
                {% endif %}
                {% if show.grade != None %}
                    <td>{{show.grade}} </td>
                {% else %}
                <td>ไม่ได้สรุปเกรด</td>
                {% endif %}
              </tr>
            </tbody>
          </table>
        </p>
        {% if user.groups.all.0.name == 'admin' or user.groups.all.0.name == 'coordinator' or user.groups.all.1.name == 'coordinator'%}
        <center>
          <div class="form-group row mt-3">
            <div class="col-sm-11 mx-5">
              <a href="{% url 'website:reportgrade' show.id %}" class="btn btn-primary text-center" role="button" aria-pressed="true">สรุปเกรด</a>
              <a href="{% url 'website:sumscore' show.id %}" class="btn btn-primary text-center" role="button" aria-pressed="true">รวมคะแนน</a>
            </div>
          </div></center>
          {% endif %}
      </div>
    </div>
  </div>
  {% else %}
  <div class="col-sm-12 center">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h5 class="card-title">{{show.project}}</h5>
          </div>
          <div class="text-center text-danger mt-5 mb-5">
           <br>
           <br>
            <h5 class="card-title"> ยังไม่มีนักศึกษาลงทะเบียน</h5>
            <br>
            <br>
          </div>
      </div>
    </div>
  </div>
  
  {% endif %}
 {% endfor %}

{% endblock %}
