{% extends "layout.html" %}

{% load static %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    {{ form.media }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
    <title>เอกสารขั้นตอนดำเนินงาน</title>
    </head>
{% endblock %}

{% block content %}

<div class="col-sm-12 center">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          {% for show in proj %}
          <h5 class="card-title">{{show.thainame}}</h5>
          {% endfor %}
        </div>

        {% comment %} edit {% endcomment %}
        {% comment %} <form method="POST" >
              {% csrf_token %}
              {{ form.media }}
              {{ form.as_p }}
              <input type="submit" name="Submit" id="submit">
          </form> {% endcomment %}

        <p class="card-text">
          {% for t in topic %}
          <br>
            {{t.topic}}
            {{t.datedue}}
            
            {% for show in show %}
                {% if show.topic.topic == t.topic %}
                {% if show.score != None %}
                {{show.score}}
                {% else %}
                ยังไม่ได้สรุปคะแนน
                {% endif %}
            {{show.topic.topic}} {{show.date}}
            <a href="{{show.file.url}}" download>download file</a>
            
            <br>
            {% endif %}
        {% endfor %}
          </tr>
          {% endfor %}
          <a href="{% url 'website:allproject' %}" class="btn btn-primary">back</a>
{% comment %} end edit {% endcomment %}
          {% comment %} <table class="table table-borderless">
            <thead>
              <tr style="background-color:#B9C4D8;">
                
                <th class="col">หัวข้อ</th>
                <th class="col">วันที่ส่ง</th>
                <th class="col">อื่นๆ</th> 
              </tr>
            </thead>
            <tbody> {% endcomment %}

                {% comment %} {% for t in topic %}
                
              <tr style="background-color:#E4E7EC;"> {% endcomment %}
                 {% comment %}
                 {{t.topic}} ต้องเอาขึ้นเพราะเป็นหัวข้อที่ผู้ประสานงานกำหนด จะได้รู้ว่าส่งหัวข้อไหน 
                 {% endcomment %}
                {% comment %} <--<th>{{t.topic}}</th>--> {% endcomment %}
                {% comment %} <th><form method="POST" >
                  {% csrf_token %}
                  {{ form.media }}
                  {{ form.as_p }}
                  <input type="submit" name="Submit" id="submit">
              </form></th> {% endcomment %}

                {% comment %} {% for show in show %}
                    {% if show.topic.topic == t.topic %} {% endcomment %}
                    {% comment %} 
                    {{show.topic.topic}}  หัวข้อที่นักศึกษาส่ง
                    {{show.date}} เวลาที่ส่ง
                    {% endcomment %}
                {% comment %} <td>{{show.topic.topic}} {{show.date}}</td>
                <td><a href="{{show.file.url}}" download>download file</a></td>
                {% endif %}
            {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </p>
      </div>
    </div>
  </div> {% endcomment %}

{% endblock %}
