{% extends "layout.html" %}

{% load static %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    {{ form.media }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
    <title>เอกสารขั้นตอนดำเนินงาน</title>
    </head>
{% endblock %}

{% block content %}

<div class="col-sm-12 center">
    <div class="card">
      <div class="card-body">
        
        <div class="card-header">
          {% for show in proj %}
          <h5 class="card-title">{{show.thainame}}</h5>
          {% endfor %}
        </div>
        <p class="card-text">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="col">หัวข้อ</th>
                <th class="col">วันที่ส่ง</th>
                <th class="col">อื่นๆ</th>
              </tr>
            </thead>
            <tbody>
                {% for t in topic %}
              <tr>
                <!-- <th>{{t.topic}}</th> -->
                {% for show in show %}
                    {% if show.topic.topic == t.topic %}
                <td>{{show.topic.topic}} {{show.date}}</td>
                <td><a href="{{show.file.url}}" download>download file</a></td>
                {% endif %}
            {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
