{% block head %}

{% endblock %}
{% block content %}
    <body>
        {% for show in show %}
            <tr>
                <td>
                    {{show.subject}} {{show.project}} {{show.std1}} {{show.std2}} {{show.consult}}
                    <br>
                    {{show.score}} 
                </td>
            </tr>
            {% endfor %}

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                   
                        {{ form.media }}
                        {{ form.as_p }}
   
                        <input type="submit" name="Submit" id="submit" value="save">
                    <div class="text-center">
                    
                </form>
            <a href="{% url 'website:evaluate'%}" >กลับ</a>
    </body>
{% endblock %}
