{% extends "layout.html" %}
{% load static %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    {{ form.media }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
    <title>ประเมินคะแนน</title>
    </head>
{% endblock %}
{% block content %}
    <body>
        <div class="col-sm-12 center">
            <div class="card">
              <div class="card-header">
                <!-- <h4 class="card-title">โครงงาน</h4> -->
                <div class="card-header">
                  <h5 class="card-title">โครงงานนักศึกษา</h5>
                </div>
              </div>
                <div class="card-body">
                    <p class="card-text">
                      <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">ปีการศึกษา</th>
                            <th scope="col">หัวเรื่อง</th>
                            <th scope="col">นักศึกษา</th>
                            <th scope="col">ที่ปรึกษา</th>
                            <th scope="col">คะแนนการประเมิน</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for show in show %}
                          <tr>
                            <td>{{show.subject}}</td>
                            <td>{{show.project}}</td>
                            <td>
                                <p>{{show.std1}}</p>
                                <p>{{show.std2}}</p>
                            </td>
                            <td>{{show.consult}}</td>
                            <td> {{show.score}} </td>
                            {% endfor %}
                          </tr>
                        </tbody>
                      </table>
                    </p>
                  </div>
              </div>
            </div>
        <!-- {% for show in show %}
            <tr>
                <td>
                    {{show.subject}} {{show.project}} {{show.std1}} {{show.std2}} {{show.consult}}
                    <br>
                    {{show.score}} 
                </td>
            </tr>
            {% endfor %} -->
            {% if messages %}
            {% for messages in messages %}
            <div class="card text-white bg-danger mx-5">
              <div class="card-body text-center">
                {{messages|safe}}
              </div>
            </div>
            {% endfor %}
            {% endif %}
           <div class="col-sm-12 center">
                <div class="card">
                  <div class="card-body">
                    <div class="card-header">
                        <!-- <h4 class="card-title">ประเมินคะแนน</h4> -->
                        <div class="card-header">
                          <h5 class="card-title">ประเมินคะแนน</h5>
                        </div>
                      </div>
                    <p class="card-text">
                      <form method="POST">
                        {% csrf_token %}
                        <table class="table table-borderless">
                          <thead>
                            <tr>
                              <th class="col"></th>
                              <th class="col-8">หัวข้อการประเมิน</th>
                              <th class="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td></td>
                              <td>1. นักศึกษาจัดทำรายงานตามรูปแบบที่กำหนดได้อย่างถูกต้อง</td>
                              <td>
                                <label class="addcontent-blog">
                                 {{ form.sc1 }}
                                  </label>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>2. นักศึกษาเขียนรายงานด้วยตนเองโดยใช้ภาษาที่เหมาะสมและสื่อความหมายได้ชัดเจน</td>
                              <td>
                                <label class="addcontent-blog">
                                 {{ form.sc2 }}
                                  </label>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>3. นักศึกษาสามารถนำเสนอผลงานได้อย่างน่าสนใจและอธิบายได้อย่างมีหลักการ</td>
                              <td>
                                <label class="addcontent-blog">
                                 {{ form.sc3 }}
                                  </label>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>4. นักศึกษาสามารถตอบคำถามต่างๆ และแสดงให้เห็นถึงความเข้าใจในงานที่ได้ทำ</td>
                              <td>
                                <label class="addcontent-blog">
                                 {{ form.sc4 }}
                                  </label>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>5. นักศึกษาสามารถทำโครงงานได้บรรลุตามแผนการดำเนินงานที่เสนอ</td>
                              <td>
                                <label class="addcontent-blog">
                                 {{ form.sc5 }}
                                  </label>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>6. ระดับคุณภาพของผลลัพธ์โดยรวมที่ได้จากการทำโครงงานของนักศึกษา</td>
                              <td>
                                <label class="addcontent-blog">
                                 {{ form.sc6 }}
                                  </label>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>7. คุณธรรม จริยธรรมและความรับผิดชอบโดยรวมในการทำโครงงานของนักศึกษา</td>
                              <td>
                                <label class="addcontent-blog">
                                 {{ form.sc7 }}
                                  </label>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>8. นักศึกษาสามารถประยุกต์ใช้ความรู้ในการแก้ปัญหาที่เกิดขึ้นจากการทำโครงงานได้</td>
                              <td>
                                <label class="addcontent-blog">
                                 {{ form.sc8 }}
                                  </label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </p>
                    <div class="text-center">
                    <input class="btn btn-primary btn-sm active mt-4 mx-3 center" type="submit" name="Submit" id="submit">
                     <a href="{% url 'website:evaluate'%}" class="btn btn-secondary btn-sm active mt-4 mx-2" role="button" aria-pressed="true">กลับ</a>
                    </div>
                   
                    </form>
                  </div>
                </div>
              </div>
                <!-- <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                   
                        {{ form.media }}
                        {{ form.as_p }}
   
                        <input type="submit" name="Submit" id="submit" value="save">
                    <div class="text-center">
                    
                </form>
            <a href="{% url 'website:evaluate'%}" >กลับ</a> -->
    </body>
{% endblock %}
