{% extends "layout.html" %}
{% load static %}

{% block head %}

{% endblock %}
{% block content %}

<body>
    <!-- {% if messages %}
        {% for messages in messages %}
            <div>{{messages|safe}}</div>
        {% endfor %}
    {% else %}
        {{notify}}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">upload</button>
        </form> -->
        <div class="col-sm-12 center" style=" padding-bottom: 0;margin-bottom: 0;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">อัพโหลดเอกสาร</h4>
                <p class="card-text">
                    {% if messages %}
                        {% for messages in messages %}
                            <div>{{messages|safe}}</div>
                        {% endfor %}
                    {% else %}
                    {{notify}}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label class="form-label" for="customFile"> Uploads only CSV file</label>
                        <input type="file" name="file" class="form-control mt-2" id="customFile" />
                        <button type="submit" class="btn btn-primary mt-3">upload</button>
                    </form>
                </p>
              </div>
            </div>
          </div>

        <!-- <table>
            {% for show in show %}
            <tr>
                <td>
                    {{show.title}} {{show.fname}} {{show.lname}} {{show.major}} {{show.email}} {{show.phone}}
                    <a href="{% url 'website:deletestd' show.id %}" 
                    onclick="return confirm('Confirm Delete?')">ลบ</a>
                    <a href="{% url 'website:updatestd' show.id %}" >แก้ไข</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a href="{% url 'website:std' %}" >Back</a> -->
    <div class="col-sm-12 center">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">แผนการดำเนินงาน</h4>
            <p class="card-text">
              <table class="table table-borderless">
                <thead>
                  <tr>
                        <th class="col"></th>
                      <th class="col">ชื่อจริง</th>
                      <th class="col">นามสกุล</th>
                      <th class="col">คณะ</th>
                      <th class="col">อีเมลล์</th>
                      <th class="col">เบอร์โทรศัพท์</th>
                      <th class="col">ลบ/แก้ไข</th>
                  </tr>
                </thead>
                <tbody>
                  {% for show in show %}
                  <tr>  
                      <td>
                        {{show.title}}
                      </td>
                      <td>
                        {{show.fname}}
                      </td>
                      <td>
                        {{show.lname}}
                      </td>
                      <td>
                        {{show.major}}
                      </td>
                      <td>
                        {{show.email}}
                      </td>
                      <td>
                        {{show.phone}}
                      </td>
                    <td>
                        <a href="{% url 'website:deletestd' show.id %}" 
                        onclick="return confirm('Confirm Delete?')">ลบ</a>
                        <a href="{% url 'website:updatestd' show.id %}" >แก้ไข</a>
                    </td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
            </p>
          </div>
          <!-- <a href="{% url 'website:coorplan' %}" >Back</a> -->
        </div>
        <a href="{% url 'website:std' %}" class="btn btn-secondary btn-lg active mt-5" role="button" aria-pressed="true">Back</a>
      </div>
      {% endif %}

</body>
{% endblock %}