{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <!-- <link rel="stylesheet" href="{% static 'admin/css/base.css' %}"> -->
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        <title>รายละเอียดโครงงาน</title>
    </head>
{% endblock %}
{% block content %}
    <body>
       
        <div class="row mt-4 center">
         <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">ข้อมูลโครงงาน</h5> -->
                  <div class="card-header">
                    <h5 class="card-title">ข้อมูลโครงงาน</h5>
                  </div>
                  <p class="card-text">
                    <table class="table table-borderless">
                      <thead>
                        <tr style="background-color:#B9C4D8;">
                          <th scope="col">ชื่อโครงงาน</th>
                          <th scope="col">ที่ปรึกษา</th>
                          <th scope="col">รายละเอียด</th>
                          <th scope="col">สถานะ</th>
                          <th scope="col">สมาชิก</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for show in show %}
                        <tr style="background-color:#E4E7EC;">
                          <td>{{show.thainame}}</td>
                          <td>{{show.consult}}</td>
                          <td>{{show.detail}}</td>
                        {% if user.groups.all.0.name == 'student' %}
                            {% if show.status == 'รอการอนุมัติ' or show.status == 'อนุมัติ' %}
                                <td>{{show.status}}</td>
                                <td>
                                  <p>{{show.student1}}</p>
                                  <p>{{show.student2}}</p>
                                </td>
                            {% else %}
                                {% if x == 0 %}
                                    <td>-</td>
                                    <td>
                                        <a href="{% url 'website:applyproject' show.id%}" >ลงทะเบียน</a>
                                {% endif %}
                                </td>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </p>
                </div>
              </div>
            </div>

        <!-- <table>
            {% for show in show %}
        
            <tr>
                <td>
                    {{show.thainame}}
                    {{show.consult}}
                    {{show.detail}}
                    {% if user.groups.all.0.name == 'student' %}
                            {% if show.status == 'รอการอนุมัติ' %}
                                {{show.status}}
                                {{show.student1}}
                                {{show.student2}}
                            {% else %}
                            {% if x == 0 %}
                                <a href="{% url 'website:applyproject' show.id%}" >ลงทะเบียน</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                </td>
            </tr>
            {% endfor %}

        </table> -->
</div>
    </body>
{% endblock %}
