{% extends "layout.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
    {{ form.media }}
{% endblock %}
{% block content %}
    <body>
        <!-- <div class="card mt-5">
            <h5 class="card-header">โครงงาน</h5>
            <div class="card-body">
            <p class="card-text">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="addcontent-blog">
                        {{ form.media }}
                        {{ form.as_p }}
                        </label>
                        <input type="submit" name="Submit" id="submit">
                    <div class="text-center">
                    
                </form>
            </p>
            </div>
          </div> -->
          <div class="col-sm-12 center" style=" padding-bottom: 0;margin-bottom: 0;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">โครงงาน</h4>
                <p class="card-text">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                                <label for="uname"><h6>ชื่อวิชา</h6></label>
                                <div class="form__field" name="uname">{{ form.subject }}</div>
                          </div>
                          <!-- <div class="form-group row mt-3"> -->
                            <label class="addcontent-blog mt-5">
                                <p>ปีการศึกษา : {{ form.year }}</p>
                                <p>วันเริ่มของภาคเรียน : {{ form.startterm }}</p>
                                <p>วันสุดท้ายของภาคเรียน : {{ form.endterm }}</p>
                            </label>
                        <!-- </div> -->
                        <!-- <div class="form-group row mt-3">
                            <label class="addcontent-blog">
                                
                            </label>
                        </div> -->
                        <center>
                          <div class="form-group row mt-3">
                            <div class="col-sm-11 mx-5">
                            <input class="btn btn-primary btn-sm active" type="submit" name="Submit" id="submit">
                            </div>
                          </div></center>
                 </form>
                </p>
              </div>
            </div>
          </div>


        <!-- ปัจจุบัน
        <table>
           
            <tr>
                <td>
                    {{show.subject}} {{show.year}} {{show.startterm}} {{show.endterm}}
                </td>
            </tr>
            
        </table> -->
        
        <div class="col-sm-12 center">
            <div class="card">
              <div class="card-body">
                <h3 class="card-header">ปัจจุบัน</h3>
                <p class="card-text">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th class="col">ชื่อวิชา</th>
                        <th class="col">ปีการศึกษา</th>
                        <th class="col">วันเริ่มของภาคเรียน</th>
                        <th class="col">วันสุดท้ายของภาคเรียน</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <tr>  
                          <td>
                            {{show.subject}}
                          </td>
                          <td>{{show.year}}</td>
                          <td>{{show.startterm}}</td>
                          <td>{{show.endterm}}</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </p>
              </div>
            </div>
          </div>
  


        <!-- ประวัติปีการศึกษา
        <table>
            {% for all in all %}
            <tr>
                <td>
                    {{all.subject}} {{all.year}} {{all.startterm}} {{all.endterm}}
                    <a href="{% url 'website:deletesubject' all.id %}" 
                    onclick="return confirm('Confirm Delete?')">ลบ</a>
                </td>
            </tr>
            {% endfor %}
        </table> -->
        <div class="col-sm-12 center">
            <div class="card">
              <div class="card-body">
                <h3 class="card-header">ประวัติภาคการศึกษา</h3>
                <p class="card-text">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th class="col">ชื่อวิชา</th>
                        <th class="col">ปีการศึกษา</th>
                        <th class="col">วันเริ่มของภาคเรียน</th>
                        <th class="col">วันสุดท้ายของภาคเรียน</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for show in all %}
                      <tr>  
                          <td>
                            {{show.subject}}
                          </td>
                          <td>{{show.year}}</td>
                          <td>{{show.startterm}}</td>
                          <td>{{show.endterm}}</td>
                          {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </p>
              </div>
            </div>
          </div>
    </body>
{% endblock %}
