{% extends "layout.html" %}
{% load static %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <!-- <script type="text/javascript" src="/admin/jsi18n/"></script>
        <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script> -->
        {{ form.media }}
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
        </head>
{% endblock %}
{% block content %}
    <body>
            <div class="row mt-4 center">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Upload CSV</h5>
                    <p class="card-text">
                      <form method="POST" class="text-center">
                        {% csrf_token %}
                        <label class="addcontent-blog">
                          วันที่ : {{ form.date }}
                          รายการ : {{ form.list }}
                        </label>
                    </p>
            

                  <!-- <input class="btn btn-primary btn-sm active" type="input" name="Submit" id="submit" role="button" aria-pressed="true">Submit</input> -->
                  <input class="btn btn-primary btn-sm active" type="submit" name="Submit" id="submit">
                  <a href="{% url 'website:todo_csv' %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Upload CSV</a>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">รายการสิ่งที่ต้องทำ</h5>
                    <p class="card-text">
                      <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">วันที่</th>
                            <th scope="col">รายการ</th>
                            <th scope="col">ลบ/แก้ไข</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for show in show %}
                          <tr>
                            <td>{{show.date}}</td>
                            <td>{{show.list}}</td>
                            <td>
                              <a href="{% url 'website:deletelist' show.id %}" 
                                onclick="return confirm('Confirm Delete?')">ลบ</a>
                              <a href="{% url 'website:updatelist' show.id %}" >แก้ไข</a>
                            </td>
                            {% endfor %}
                          </tr>
                        </tbody>
                      </table>
                    </p>
                  </div>
                </div>
              </div>
            </div>

    </body>
{% endblock %}
