{% extends "layout.html" %}
{% load static %}

{% block head %}
<title>อัพโหลดเอกสาร</title>
{% endblock %}
{% block content %}

<body>
    <!-- {% if messages %}
        {% for messages in messages %}
            <div>{{messages|safe}}</div>
        {% endfor %}
    {% else %}
        {{notify}}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">upload</button>
        </form> -->
        <div class="col-sm-12 center" style=" padding-bottom: 0;margin-bottom: 0;">
            <div class="card">
              <div class="card-body">
                <!-- <h4 class="card-title">อัพโหลดเอกสาร</h4> -->
                <div class="card-header">
                  <h5 class="card-title">อัพโหลดเอกสาร</h5>
                </div>
                <p class="card-text">
                    {% if messages %}
                        {% for messages in messages %}
                        <br>
                        <br>
                        <div class="text-center col-12 row mt-3 mx-1">
                          <div>{{messages|safe}}</div>
                        </div>
                        <br>
                        <br>
                        <br>
                        {% endfor %}
                    {% else %}
                    {{notify}}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label class="form-label" for="customFile"> Uploads only CSV file</label>
                        <input type="file" name="file" class="form-control mt-2" id="customFile" />
                        <button type="submit" class="btn btn-primary mt-3">upload</button>
                    </form>
                </p>
              </div>
            </div>
          </div>

        <!-- <table>
            {% for show in show %}
            <tr>
                <td>
                    {{show.date}}
                    {{show.list}}
                    <a href="{% url 'website:deletelist' show.id %}" 
                    onclick="return confirm('Confirm Delete?')">ลบ</a>
                    <a href="{% url 'website:updatelist' show.id %}" >แก้ไข</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a href="{% url 'website:todolist' %}" >Back</a> -->
    <div class="col-sm-12 center">
        <div class="card">
          <div class="card-body">
            <!-- <h4 class="card-title">เอกสารที่อัพโหลด</h4> -->
            <div class="card-header">
              <h5 class="card-title">เอกสารที่อัพโหลด</h5>
            </div>
            <p class="card-text">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th class="col-2">วันที่</th>
                    <th class="col-7">รายการ</th>
                    <th class="col">ลบ/แก้ไข</th>
                  </tr>
                </thead>
                <tbody>
                  {% for show in show %}
                  <tr>  
                      <td>
                        {{show.date}}
                      </td>
                      <td>
                        {{show.list}}
                      </td>
                    <td>
                        <a href="{% url 'website:deletelist' show.id %}" 
                        onclick="return confirm('Confirm Delete?')">ลบ</a>
                        <a href="{% url 'website:updatelist' show.id %}" >แก้ไข</a>
                    </td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
            </p>
          </div>
        </div>
        <a href="{% url 'website:todolist' %}" class="btn btn-secondary btn-lg active mt-5" role="button" aria-pressed="true">Back</a>
      </div>
      {% endif %}

</body>
{% endblock %}