{% extends "layout.html" %}
{% load static %}
<html lang="en">

{% block head %}
    <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
    <title>แก้ไขข้อมูลโครงงาน</title>
{% endblock %}

{% block content %}
    <!-- {% if not form.is_valid %} 
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit">
        <a href="{% url 'website:project' %}" >Back</a>

    </form>
    {% endif %} -->
    {% if not form.is_valid %} 
    <div class="col-sm-12 center">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">แก้ไขข้อมูลโครงงาน</h5>
            </div>
            <p class="card-text">
              <form method="POST">
                {% csrf_token %}
                <div class="form__group row mt-3 mx-1">
                    <label class="form__field">
                        ชื่อ (ภาษาไทย) :  {{ form.thainame }}
                    </label>
              </div>
              <div class="form-group row mt-3 mx-1">
                <label class="form__field">
                    ชื่อ (ภาษาอังกฤษ) : {{ form.engname }}
                </label>
              </div>
              <div class="form-group row mt-3 mx-1">
                <label class="form__field">
                    รายละเอียด : {{ form.detail }}
                </label>
              </div>
            </p>
          <input class="btn btn-primary btn-sm active mx-3 mt-3" type="submit" name="Submit" id="submit">
          <a href="{% url 'website:prof' %}" class="btn btn-secondary btn-sm active  mt-3" role="button" aria-pressed="true">Back</a>
            </form>
          </div>
        </div>
      </div>
    {% endif %}

{% endblock %}

</html>