
{% extends "layout.html" %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
    <title>เกณฑ์การตัดคะแนน</title>
    {{ form.media }}
</head>
{% endblock %}
{% block content %}
<br><br>
    <body>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" name="Submit" id="submit">
        </form>
    </body>

{% endblock %}