{% extends "layout.html" %}
{% load static %}
<html lang="en">

{% block head %}
    <link rel="stylesheet" href="{% static '/css/form_field.css' %}">
    {{ form.media }}
    <title>แก้ไขแผนการดำเนินการ</title>
{% endblock %}

{% block content %}
    <!-- {% if not form.is_valid %} 
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit">
            <a href="{% url 'website:stdplan' %}" >Back</a>

        </form>
    {% endif %} -->
    {% if not form.is_valid %} 
    <div class="col-sm-12 center">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">จัดการข้อมูลพื้นฐาน</h5> -->
          <div class="card-header">
            <h5 class="card-title">แก้ไขแผนการดำเนินการ</h5>
          </div>
          <p class="card-text">
            <form method="POST">
              {% csrf_token %}
              <div class="form__group row mt-3 mx-1">
                <label class="form__field">
                  วันที่ : {{ form.date }}
                </label>
              </div>
              <div class="form__group row mt-3 mx-1">
                <label class="form__field">
                  รายการ : {{ form.list }}
                </label>
              </div>
          </p>
          <input class="btn btn-primary mt-4 mx-3" type="submit" name="Submit" id="submit">
          <a href="{% url 'website:stdplan' %}" class="btn btn-secondary mt-4 mx-3" role="button" aria-pressed="true">Upload CSV</a>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-6 center">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">แก้ไขแผนการดำเนินการ</h5>
            </div>
            <p class="card-text">
              <form method="POST" class="text-center">
                {% csrf_token %}
                <label class="addcontent-blog">
                  วันที่ : {{ form.date }}
                  รายการ : {{ form.list }}
                </label>
            </p>
          <input class="btn btn-primary btn-sm active" type="submit" name="Submit" id="submit">
          <a href="{% url 'website:stdplan' %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Back</a>
            </form>
          </div>
        </div>
      </div> -->
    {% endif %}

{% endblock %}

</html>