{% extends "layout.html" %}
{% load static %}
<html lang="en">

{% block head %}
    <title>แก้ไขเอกสาร</title>
{% endblock %}

{% block content %}
    <!-- {% if not form.is_valid %} 
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit">
            <a href="{% url 'website:todolist' %}" >Back</a>

        </form>
    {% endif %} -->
    <div class="row center">
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">แก้ไขแผนการดำเนินการ</h5>
            <p class="card-text">
              <form method="POST" class="text-center">
                {% csrf_token %}
                <label class="addcontent-blog">
                  วันที่ : {{ form.date }}
                  รายการ : {{ form.list }}
                  <!-- {{ form.as_table }} -->
                </label>
            </p>
    

          <!-- <input class="btn btn-primary btn-sm active" type="input" name="Submit" id="submit" role="button" aria-pressed="true">Submit</input> -->
          <input class="btn btn-primary btn-sm active" type="submit" name="Submit" id="submit">
          <a href="{% url 'website:todolist' %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Back</a>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

</html>